:root {
    --color1: rgb(228, 129, 0);
    --color2: rgb(0, 162, 226);
    --color3: rgb(236, 236, 236);
    --color4: rgb(70, 70, 70);
    --color5: rgb(32, 32, 32);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color3);
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--color4);
}

h1 {
    background-color: var(--color1);
    font-size: 60px;
    padding: 10px;
    flex-grow: 1;
    color: var(--color5);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 2;
    gap: 15px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav a:hover {
    color: var(--color4);
    background-color: var(--color1);
}

a {
    font-weight: bolder;
    text-decoration: none;
}

section {
    padding: 0 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

section:nth-child(even) {
    background-color: var(--color4);
}

section:nth-child(odd) {
    background-color: var(--color5);
}

section:not(:first-child) {
    padding-bottom: 30px;
}

.about-img {
    flex: 0 1 250px;
    margin: 50px;
}

.about-img img {
    border-radius: 50%;
    max-width: 100%;
}

.about-text {
    flex: 1;
}

h2 {
    background-color: var(--color1);
    color: var(--color5);
    width: 100%;
    font-size: 40px;
    padding: 10px;
}

h3 {
    background-color: var(--color1);
    color: var(--color5);
}

.project {
    flex: 1 0 300px;
    border: 8px solid var(--color1);
    background-color: var(--color3);
}

.project:nth-child(2) {
    flex: 100%;
}

.project img {
    width: 100%;
    display: block;
}

.project img:hover {
    opacity: 70%;
}

@media screen and (max-width: 980px) {
    nav a {
        line-height: 46px;
        justify-content: center;
    }
}
